In [ ]:
# this is modeling file for student dropout prediction

In [2]:
import pandas as pd
import numpy as np
import sklearn
import tensorflow 
from tensorflow import keras

In [3]:
# Used pickle to obtain our preprocessed dataframe
import pickle

with open("preprocessed.pkl", "rb") as f:
    df = pickle.load(f)

In [6]:
df.head(4)

   marital_status  application_mode  ...   gdp    target
0               1                17  ...  1.74   Dropout
1               1                15  ...  0.79  Graduate
2               1                 1  ...  1.74   Dropout
3               1                17  ... -3.12  Graduate

[4 rows x 37 columns]

In [11]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()

In [ ]:
from sklearn.pipeline import Pipeline

pipe = Pipeline([
    ('lr', lr)
])